@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --primary-color: rgb(147, 114, 209);
  --primary-color-darker: rgb(91, 75, 121);
}

* {
  box-sizing: border-box;
  outline: 0;
  font-family: "DM Sans";
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  line-height: 1.5em;
}

.container {
  margin: 50px 10vw;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

h1 {
  margin: 15px 0;
}

#senha {
  font-size: 1.25em;
  font-weight: 700;
  color: var(--primary-color-darker);
  margin: 20px 0;
}

#senha strong {
  font-weight: 900;
}

button {
  width: 15vw;
  border-radius: 100px;
  margin: 10px 0;
  padding: 5px 2px;
  background-color: var(--primary-color-darker);
  color: white;
  border: none;
}
