.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.form input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
}

.form input[type="text"]:focus {
    border-color: #a270ca;
    outline: none;
}

.form button[type="submit"] {
    padding: 10px 20px;
    margin:  10px 0;
    width: min-content;
    border-radius: 5px;
    border: none;
    background-color: #a270ca;
    color: white;
    font-family: 'Outfit';
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form button:hover {
    background-color: #775792;
}
.form button:active {
    background-color: #5f467a;
}
