* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  font-size: 2em;
  font-family: 'Outfit';
  font-weight: 700;
  padding: 0.5em 1em;
}