<%- include('./includes/header') %>

<div class="container">
  <h1>
    <% dia.forEach(num=> { %>
    <span> <%= num %> </span>
    <% }); %>
  </h1>
  <h1><%= variavelLocal %></h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, neque.
  </p>
  <p>Lorem itaque harum officia? Itaque, aliquid nobis.</p>
</div>

<%- include('./includes/footer') %>
